@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "Index";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.ApplicationUserId)
    @Html.HiddenFor(model => model.PickupActivity)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OneTimePickup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneTimePickup)
        </dd>
    </dl>
    <div class="form-group">
        @Html.LabelFor(model => model.PickupActivity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PickupActivity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PickupActivity, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit Information", "Edit", new { id = Model.Id })
    @Html.ActionLink("Request one time pickup", "Pickup", new { id = Model.Id })
    @Html.ActionLink("Monthly Statement", "Statement", new { id = Model.Id})
</p>
